// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
	&>footer {
		background: white;
		border: none;
		border-radius: unset;
		text-shadow: none;
	}
	&>nav {
		background: white;
		border-top: none;
		border-bottom-color: #bfbfbf;
		& form .search {
			border-radius: 0px;
			box-shadow: none;
			background-clip: inherit;
			border: none;
			background-color: #f2f2f2;
			margin: 0.1em 0 0 0;
			line-height: 1.7em;
		}
		& li {
			&+li {
				border-left: none;
				& a {
					border-left: none;
				}
			}
			& a {
				text-transform: uppercase;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
